html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* ================ Three JS Scene ============= */
#scene-container
{
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ================ ui-overlay ============= */

#ui-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
}

#file_selector{
  margin-top: 30px;
}

#ui-overlay button,
#ui-overlay input {
  margin-top: 5px;
  display: block;
}


/* 
=================== Motion config dropdown =================
*/


.config-row {
  display: flex;
  align-items: center;
  gap: 12px;
}
.config-row label {
  min-width: 170px;
  font-size: 1em;
  color: #fff;
  margin-bottom: 0;
}
.config-row input {
  flex: 1;
  min-width: 50px;
  font-size: 1em;
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background: rgba(255,255,255,0.12);
  color: #fff;
}
#motion-config-form button {
  width: 100%;
  padding: 8px 0;
  border-radius: 6px;
  background: #007bffa1;
  color: #fff;
  border: none;
  font-size: 1.05em;
  cursor: pointer;
}

#motion-config-dropdown
{
  margin-top:20px;
}

#motion-config-toggle button
{
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  padding: 10px 10px;
  text-align: left;
  cursor: pointer;
}

#motion-config-panel
{
  display: none;
  background: rgba(0,0,0,0.4);
  padding: 12px;
  border-radius: 0 0 8px 8px;
  margin-top: 0;
}

#motion-config-form
{
  display: flex; 
  flex-direction: column; gap: 10px;
}

#submit_motion_config
{
  margin-top:10px;
  background:white;
  color: black;
}




/* 
=================== slider =================
*/

#timeline-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
}

#frame-slider {
  flex-grow: 1;
    pointer-events: auto;
  z-index: 10;
}

#frame-label {
  white-space: nowrap;
}

#preview-popup
{
  display: none;
  position: absolute;
  top: -210px;
  width: 260px;
  height: 190px;
  background: black;
  border: 1px solid #ccc;
  pointer-events: none;
}

#preview-img
{
  width: 100%; 
  height: 100%;
}


/* ====================================== */
#timeline-container_2 {
  position: absolute;
  bottom: 70px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
}

